.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("/assets/img/wamr_background_1.jpg") left top / 100% 100%
    no-repeat;
  .header {
    height: 10vh;
    .topFixBtns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
    }
  }
  .holeWrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10vh 0 0 10vh;
    .hole {
      position: absolute;
    }
  }
  .footer {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    background: blue;
    .footerBtn {
      display: flex;
      justify-content: center;
      align-items: end;
      height: 10vh;
      width: 23%;
    }
  }
  .prizeModal {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    text-align: center;
    .prizeText {
      font-size: 2rem;
      font-weight: 900;
      text-shadow: #3e3e3e 2px 2px;
    }
  }
  .messageModal {
    width: 75vw;
    height: 15vh;
    background-color: darkkhaki;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .messageText {
      text-align: center;
      line-height: 15vh;
      color: #3e3e3e;
      font-size: 1.5rem;
    }
  }
  .gameItemModal {
    width: 75vw;
    height: 15vh;
    background-color: yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .gameItem {
      color: #3e3e3e;
      text-align: center;
    }
  }
}
