.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("/assets/img/wamr_background_1.png");
  .header {
    height: 10vh;
    .timer {
      color: crimson;
      font-size: 2rem;
      font-weight: 900;
      text-shadow: #3e3e3e 2px 2px;
    }
    .topFixBtns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
    }
  }
  .holeWrap {
    background-color: #333;
    margin: 0 20vw;
    .hole {
      border: 1px solid red;
      height: 20vh;
      width: 20vw;
    }
  }
  .footer {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    background: blue;
    .footerBtn {
      display: flex;
      justify-content: center;
      align-items: end;
      height: 10vh;
      width: 23%;
    }
  }
  .startBtn {
    color: #3e3e3e;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background: yellow;
    position: absolute;
    bottom: 30vh;
    left: calc(50% - 50px);
  }
  .prizeModal {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    text-align: center;
    .prizeText {
      font-size: 2rem;
      font-weight: 900;
      text-shadow: #3e3e3e 2px 2px;
    }
    .restartBtn {
      margin-top: 20vh;
      color: #3e3e3e;
      line-height: 50px;
      text-align: center;
      height: 50px;
      width: 100px;
      border-radius: 25px;
      background: yellow;
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .messageModal {
    width: 75vw;
    height: 15vh;
    background-color: darkkhaki;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .messageText {
      text-align: center;
      line-height: 15vh;
      color: #3e3e3e;
      font-size: 1.5rem;
    }
  }
  .gameItemModal {
    width: 75vw;
    height: 15vh;
    background-color: yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .gameItem {
      color: #3e3e3e;
      text-align: center;
    }
  }
}
